<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.zxxkj.dao.CallDetailMapper">

	<!-- 新增通话分段详情 -->
	<insert id="insertCallDetailData" parameterType="java.util.Map">
		insert into
		calldetail_table(role,callrecordID,fileURL,fileWord,datetime,recordURL,recordWord)
		values(#{CallDetail.role},#{CallDetail.callrecordID},#{CallDetail.fileURL},
		#{CallDetail.fileWord},now(),#{CallDetail.recordURL},#{CallDetail.recordWord});
	</insert>
	
	<!-- 通过通话记录的ID查看对话详情 -->
	<select id="selectCallRecordDetailByCallRecordID" parameterType="java.util.Map" resultType="com.zxxkj.model.CallDetail"> 
		SELECT
		    id,
			fileURL,
			fileWord,
			recordURL,
			recordWord,
			datetime
		FROM
			calldetail_table
		WHERE
			callrecordID = #{CallRecordID}
		ORDER BY
			datetime ASC
	</select>

	<update id="updateFileUrlByCallDetailId" parameterType="java.util.Map">
		update calldetail_table set fileURL= #{fileURL} where id=#{callDetailId}
	</update>

</mapper>