.main{
	position: absolute;
	background: #f9f9f9;
	top: 1rem;
	width: 100%;
	height: 8.3rem;
	display: none;
}
.accMgrWrap{
	height: 96%;
    width: 96%;
    margin-left: 2%;
    background: white;
    margin-top: 2%;
    overflow: hidden;
}
.accMgrTop{
	height: 1rem;
}
.accMgrTop button{
	border: none;
	width: 1.6rem;
	height: 0.4rem;
	margin-top: 0.3rem;
	border-radius: 0.2rem;
	margin-left: 0.38rem;
	font-size: 0.16rem;
}
.blueBtn{
	background: #6490D9;
	color: white;	
}
.grayBtn{
	background: #F2F2F2;
	color: #666666;	
}
.accMgrMainBox{
	height: 6.96rem;
}
.accMgrMainTit{
	height: 0.7rem;
	background: #F2F2F2;
}
.accMgrMainTit span{
	line-height: 0.7rem;
	display: inline-block;
}
.accMgrMainLi{
	height: 0.54rem;
	border-bottom: 1px solid #CCCCCC;
	font-size: 0.16rem
}
.accMgrMainLi span{
	display: inline-block;
	line-height: 0.54rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.accMgrItem{
	text-align: center;
	display: flex;
	
}
.accMgrMainUl{
	height: 5.6rem;
}
.pagination{
	height: 0.6rem;
}
.flex12{
	flex: 12;
}
.flex8{
	flex: 8;
}
.flex6{
	flex: 6;
}
.flex4{
	flex: 4;
}
.flex3{
	flex: 3;
}
.swImg{
	height: 0.4rem;
    margin-top: 0.1rem;
}
.controlSpan span{
	padding: 0 0.2rem;
	text-decoration: underline;
	color: #6490D9;
}
.controlSpan .redFont{
	color: #ff6130;
}


.singleUploadBox{
	height: 5.8rem;
	width: 5.2rem;
	background: white;
    position: relative;
}
.singleMsgBox{
	width: 4.2rem;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.singleMsgBoxItem{
	border: 1px solid #d5d5d5;
	height: 0.56rem;
	/*line-height: 0.56rem;*/
	color: #999999;
	margin-top: 0.3rem;
}
.singleMsgBoxItem i,.singleMsgBoxItem p,.singleMsgBoxItem li{
	line-height: 0.56rem;
}
.singleMsgBoxItemTxt{
	height: 1.4rem;
	color: #999999;
	margin-top: 0.3rem;
}
.singleMsgBoxItem input{
	height: 96%;
    box-sizing: border-box;
    width: 3.4rem;
    border: none;
}
.singleMsgBoxItem i{
	width: 0.4rem;
    display: inline-block;
    text-align: center;
    font-size: 0.24rem;
    float: left;
}
.btnGroup0{
	display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
}
.btnGroup0 p{
	margin: 0 0.4rem;
}
.btnGroup1{
	position: absolute;
	height: 0.72rem;
	width: 100%;	
	display: flex;
	bottom: 0;
	left: 0;
}
.btnGroup1 button{
	border: none;
	flex: 1;
	font-size: 0.24rem
}
.blueBg{
	background: #547ed1;
	color: white;
}
.grayBg{
	background: #ededed;
	color: #999999;
}
.xialakfBox{
	width: 3.6rem;
    margin-left: 0.4rem;
    height: 100%;
    position: relative;
    text-indent: 0.2rem;
}
.seleKfUl{
	background: white;
    position: absolute;
    top: 100%;
    left: -0.4rem;
    height: 0.56rem;
    z-index: 2;
    overflow-y: auto;
    width: 115.4%;
    display: none;
    border: 1px solid #ccc;
}
.seleKfUl li:hover{
	background: #6490D9;
	color: white;
}
#identity{
	float: left;
    width: 86%;
}
.seleKfUl li{
	text-indent: 0.6rem;
}
